In [3]:
import numpy as np
import pandas as pd

In [4]:
cd ml-100k/

C:\Users\young desi\ml-100k

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 844F-DEC2

 Directory of C:\Users\young desi\ml-100k

12/12/2016  12:44 AM    <DIR>          .
12/12/2016  12:44 AM    <DIR>          ..
07/19/2000  03:09 PM               716 allbut.pl
07/19/2000  03:09 PM               643 mku.sh
01/29/2016  02:26 PM             6,750 README
07/19/2000  03:09 PM         1,979,173 u.data
07/19/2000  03:09 PM               202 u.genre
07/19/2000  03:09 PM                36 u.info
07/19/2000  03:09 PM           236,344 u.item
07/19/2000  03:09 PM               193 u.occupation
07/19/2000  03:09 PM            22,628 u.user
03/08/2001  12:33 PM         1,586,544 u1.base
03/08/2001  12:32 PM           392,629 u1.test
03/08/2001  12:33 PM         1,583,948 u2.base
03/08/2001  12:33 PM           395,225 u2.test
03/08/2001  12:33 PM         1,582,546 u3.base
03/08/2001  12:33 PM           396,627 u3.test
03/08/2001  12:33 PM         1,581,878 u4.base
03/08/2001  12:33 PM           397,295 u4.test
03/08/2001  12:34 PM         1,581,776 u5.base
03/08/2001  12:33 PM           397,397 u5.test
03/08/2001  12:34 PM         1,792,501 ua.base
03/08/2001  12:34 PM           186,672 ua.test
03/08/2001  12:34 PM         1,792,476 ub.base
03/08/2001  12:34 PM           186,697 ub.test
              23 File(s)     16,100,896 bytes
               2 Dir(s)   3,487,662,080 bytes free

In [5]:
names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=names)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [6]:
n_users = df.user_id.unique().shape[0]
n_items = df.item_id.unique().shape[0]

In [7]:
ratings = np.zeros((n_users, n_items))
for row in df.itertuples():
    #print row[1],row[2],row[3]
    ratings[row[1]-1, row[2]-1] = row[3]
ratings
def split_data(ratings):
    test = np.zeros(ratings.shape)
    train = ratings.copy()
    for user in range(ratings.shape[0]):
        test_ratings = np.random.choice(ratings[user, :].nonzero()[0], 
                                        size=10, 
                                        replace=False)
        train[user, test_ratings] = 0.
        test[user, test_ratings] = ratings[user, test_ratings] 
    return train, test
train, test = split_data(ratings)

In [8]:
from sklearn.metrics import pairwise_distances

item_correlation = 1 - pairwise_distances(train.T, metric='correlation')
item_correlation[np.isnan(item_correlation)] = 0.

In [9]:

idx_to_movie = {}
with open('u.item', 'r') as f:
    for line in f.readlines():
        info = line.split('|')
        idx_to_movie[int(info[0])-1] = info[4]
        
def top_movies(similarity, mp, movie_idx, k=6):
    return [mp[i] for i in np.argsort(similarity[movie_idx,:])[:-k-1:-1]]

In [10]:
id=1
movies = top_movies(item_correlation, idx_to_movie, id)
print movies

['http://us.imdb.com/M/title-exact?GoldenEye%20(1995)', 'http://us.imdb.com/M/title-exact?Under%20Siege%20(1992)', 'http://us.imdb.com/M/title-exact?Stargate%20(1994)', 'http://us.imdb.com/M/title-exact?True%20Lies%20(1994)', 'http://us.imdb.com/M/title-exact?Top%20Gun%20(1986)', 'http://us.imdb.com/M/title-exact?Cliffhanger%20(1993)']

http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)
http://us.imdb.com/M/title-exact?Independence%20Day%20(1996)
http://us.imdb.com/M/title-exact?Willy%20Wonka%20and%20the%20Chocolate%20Factory%20(1971)
http://us.imdb.com/M/title-exact?Mission:%20Impossible%20(1996)
http://us.imdb.com/M/title-exact?Beauty%20and%20the%20Beast%20(1991)
http://us.imdb.com/M/title-exact?Rock,%20The%20(1996)

In [13]:
data=train
lmbda = 0.1 
k = 20
m, n = data.shape 
n_epochs = 15 
Ivalue = data.copy()
Ivalue[Ivalue > 0] = 1
Ivalue[Ivalue == 0] = 0



P_user = 3 * np.random.rand(k,m) 
Q_item = 3 * np.random.rand(k,n) 
Q_item[0,:] = R[R != 0].mean(axis=0) 
E = np.eye(k)

train_errors = []
test_errors = []

def rmse(Ivalue,data,Q_item,P_user):
    return np.sqrt(np.sum((I * (data - np.dot(P_user.T,Q_item)))**2)/len(data[data > 0]))

iterations=0
while iterations > n_epochs:
    
    # Fix Q and estimate P
    for i, Ii in enumerate(I):
        n_i_rated = np.count_nonzero(Ii) 
        if (n_i_rated == 0): 
            n_i_rated = 1
    
       
        A_value = np.dot(Q_item, np.dot(np.diag(Ii), Q_item.T)) + lmbda * n_i_rated * E
        V_value = np.dot(Q_item, np.dot(np.diag(Ii), data[i].T))
        P[:,i] = np.linalg.solve(A_value,V_value)
        
  
    for j, Ij in enumerate(Ivalue.T):
        nmj = np.count_nonzero(Ij) 
        if (nmj == 0): 
            nmj = 1 
        
        # Least squares solution
        Aj = np.dot(P, np.dot(np.diag(Ij), P.T)) + lmbda * nmj * E
        Vj = np.dot(P, np.dot(np.diag(Ij), R[:,j]))
        Q[:,j] = np.linalg.solve(Aj,Vj)
    
    train_rmse = rmse(Ivalue,data,Q_item,P_user)
    
    train_errors.append(train_rmse)
    iterations=iterations+1
    
    
    
    
print "Training complete"

Algorithm converged

In [22]:
predicted = pd.DataFrame(np.dot(P_user.T,Q_item))
R = pd.DataFrame(test)

         0         1         2         3         4         5         6     \
0    3.896384  3.086417  3.167939  3.634344  2.733475  4.066825  4.110688
1    3.788634  3.107309  2.558171  3.471509  3.135183  3.894344  3.676837
2    3.289037  2.405071  2.315854  2.933410  2.784952  2.622783  3.264377
3    5.044949  4.350879  3.712692  3.959472  4.312310  4.341347  4.795080
4    3.443269  2.848845  2.162046  3.446844  2.315225  2.744261  3.919435
5    3.401299  2.583006  2.076503  3.245878  2.536327  3.077460  3.249194
6    4.105433  3.616949  2.958457  3.894261  3.790847  3.741852  3.787257
7    3.992770  2.884424  3.187987  3.425561  3.302916  4.222282  3.877351
8    3.998326  3.629697  2.623267  4.027361  3.675588  4.118348  3.753503
9    4.112971  3.379775  2.999785  3.706504  3.624602  3.806646  3.958995
10   3.504672  2.908079  2.487958  3.351493  2.996435  3.187640  3.672673
11   4.106582  3.614928  3.036270  3.865317  3.482058  3.484478  3.889063
12   3.395454  2.929175  2.545333  3.838007  2.378340  3.319341  3.398069
13   3.746587  3.275457  3.189850  4.025330  2.739407  3.481646  4.099284
14   2.644884  2.194067  1.808517  2.613597  2.726242  2.494026  2.233698
15   4.655079  3.684023  2.808166  4.191312  3.651066  3.172983  4.214928
16   3.360356  2.215083  2.271902  2.684726  2.039567  2.449482  3.288498
17   3.675705  2.917619  2.632738  3.516677  2.801908  3.878520  3.612889
18   3.830569  2.741321  1.463695  3.379869  2.576333  2.578217  3.324834
19   3.438683  3.108611  1.806943  1.940235  2.647379  2.898347  2.595893
20   3.785437  2.628187  3.014319  3.410595  2.498196  3.719253  3.809983
21   3.722061  2.817027  2.655115  4.118346  2.797799  2.503542  4.367967
22   3.579310  2.994635  2.352543  3.444330  2.622438  3.240479  3.958523
23   4.200396  3.330159  4.063796  4.001633  3.392707  3.858454  4.209442
24   3.981498  3.360602  2.622320  3.541489  3.255057  3.065714  4.044275
25   3.368080  2.615865  2.371348  2.905173  2.976106  2.954813  3.107226
26   3.416998  2.970951  2.452416  2.946002  2.969645  3.507060  3.109235
27   3.813667  3.024448  2.700966  3.500572  3.195083  3.129678  4.230659
28   3.759677  3.217039  3.028181  3.621634  3.164770  3.447810  3.833830
29   4.280076  3.153533  2.611512  3.311195  3.580166  3.447774  3.702288
..        ...       ...       ...       ...       ...       ...       ...
913  2.472661  2.799388  1.848262  2.812480  2.549906  1.479005  2.505957
914  3.220263  2.592175  2.869411  2.625160  2.508203  3.635857  2.622130
915  3.470489  2.767035  2.914173  3.360703  2.691752  3.665792  3.634048
916  3.531595  2.916375  1.829486  3.363799  2.948928  3.448733  3.922828
917  2.901166  2.434047  1.835861  2.484592  2.269782  3.890187  3.165167
918  3.924964  2.994661  2.400326  2.912753  3.586151  3.516962  3.577893
919  3.661262  2.981332  2.442233  2.762978  2.936491  3.058097  3.460750
920  3.610764  3.353565  2.507865  2.907394  3.122005  2.051627  3.090919
921  3.827483  3.365505  2.635152  3.284670  2.927585  2.696472  3.479810
922  4.370239  3.790457  3.810656  4.042291  4.006355  3.959273  4.401878
923  3.920412  2.940552  2.759746  3.314742  3.006407  3.319962  3.751015
924  3.395011  3.004445  2.723556  2.719651  3.565435  2.685403  3.007826
925  3.066785  2.692587  2.359748  3.456825  2.647662  2.080698  3.394809
926  4.071667  3.395637  3.223352  3.234088  3.363708  3.881730  3.991304
927  4.573629  4.191662  3.268791  4.077673  3.765505  3.816459  4.452281
928  3.531737  2.648627  2.348756  2.919974  2.559755  3.545619  3.240058
929  2.820165  2.578793  2.204074  2.373212  2.690239  2.913404  2.687116
930  3.600307  3.245515  2.683437  3.488948  3.165548  3.472820  3.274574
931  4.019785  2.885505  2.166075  3.432569  2.959594  3.748136  3.932048
932  2.838258  2.253414  1.681315  2.837561  2.325452  2.681806  2.731799
933  3.554264  3.152620  2.859395  3.714149  3.005785  3.255544  3.811464
934  3.571042  3.457833  3.077834  2.839922  3.772620  2.880249  3.089971
935  3.974278  3.149192  3.466160  3.557355  3.116202  4.151445  4.094912
936  3.222071  2.978008  1.281759  3.598711  2.644800  1.905381  3.230634
937  3.780172  3.057650  3.015129  2.840047  3.695373  3.246524  3.692583
938  4.631095  3.795639  3.735345  4.108129  4.370448  3.944602  4.620782
939  3.643700  3.262180  2.157373  3.205083  3.121329  2.939722  3.440598
940  3.919257  3.469026  2.862493  3.752900  2.895476  2.953044  3.451939
941  4.252497  3.755851  2.690782  3.791196  3.742260  3.151487  3.570024
942  3.632516  3.280238  2.871364  3.440196  3.281584  2.557885  3.385594

         7         8         9       ...         1672      1673      1674  \
0    3.847057  3.853664  3.607022    ...     2.100052  3.289932  2.170530
1    3.773416  3.744653  3.385348    ...     2.479668  3.255108  2.131023
2    3.355662  3.460232  3.248129    ...     1.537458  2.495363  2.460779
3    5.159201  4.752410  5.100904    ...     2.647480  4.010943  2.499083
4    3.823638  3.230835  3.651003    ...     1.520808  2.518364  2.236934
5    3.574680  3.762303  3.550395    ...     2.027140  3.268088  1.930133
6    4.563815  3.967503  4.105671    ...     2.370106  3.703914  2.579651
7    3.963203  4.018249  3.391564    ...     2.036636  3.289438  2.335955
8    4.543839  4.344990  4.119809    ...     2.909997  3.635267  2.483689
9    4.244354  4.142589  3.995797    ...     2.472951  3.607439  2.435948
10   3.795539  3.868482  3.397323    ...     2.241926  3.046881  2.007255
11   4.457987  4.225824  3.734504    ...     2.549184  3.325406  2.177672
12   3.975745  3.666973  3.042871    ...     1.950080  3.157954  2.045327
13   4.145336  3.925189  3.977530    ...     2.097262  3.494454  2.397942
14   3.319654  3.307302  2.460624    ...     2.047465  2.487201  1.427189
15   4.726776  4.488447  4.356041    ...     2.342809  3.526338  2.609995
16   3.229615  3.335028  3.311836    ...     1.500841  2.190600  1.502082
17   4.139598  4.302464  3.992701    ...     2.388981  3.385284  1.965175
18   4.514182  3.984337  4.038729    ...     2.006176  3.156624  1.890429
19   3.252721  1.998437  2.756190    ...     1.653191  2.253106  1.282254
20   3.513960  4.088494  3.665846    ...     1.856094  3.235328  1.942805
21   3.774193  3.849146  3.318859    ...     1.911371  3.087333  2.586126
22   3.928555  3.581495  3.894075    ...     2.099706  3.311606  1.976065
23   4.237377  4.426161  4.021164    ...     2.471525  3.571080  2.553367
24   4.100657  3.698156  3.561320    ...     2.200669  3.009541  2.167092
25   3.239748  3.326545  2.861957    ...     1.964973  2.734928  1.897581
26   3.505835  3.310195  3.228780    ...     2.177425  3.133318  1.887402
27   3.697858  3.677117  3.436870    ...     1.922830  2.859163  2.438635
28   4.023377  3.921682  3.982588    ...     2.451458  3.199045  2.146363
29   4.160841  4.278607  4.117091    ...     2.694622  3.334357  2.171246
..        ...       ...       ...    ...          ...       ...       ...
913  2.926850  3.006310  2.887033    ...     1.677955  2.744558  1.378917
914  2.795078  3.160113  2.742989    ...     1.874431  2.647880  1.740515
915  3.598047  3.844737  3.627111    ...     2.136565  3.053443  2.014475
916  3.811674  4.614300  3.821055    ...     2.560953  3.410593  1.694282
917  3.438428  3.552418  3.758114    ...     1.966273  3.174011  1.521153
918  3.759194  3.919788  3.755236    ...     2.375486  3.204762  1.984146
919  3.456484  3.177297  3.160398    ...     1.746610  2.599353  1.563518
920  3.498441  2.426330  2.734580    ...     2.117043  2.346291  1.652803
921  3.756491  2.937653  3.185848    ...     2.021848  2.905573  1.850494
922  4.354024  4.441811  4.270467    ...     2.767747  3.609655  2.632953
923  3.842425  3.731536  3.519844    ...     2.110774  3.031575  2.041756
924  2.837759  2.920962  2.438732    ...     2.220739  2.559933  1.886999
925  3.732411  3.598414  3.494505    ...     1.616725  2.739006  2.131431
926  3.845779  3.281762  3.141852    ...     2.161756  2.838288  2.119738
927  4.892929  4.657731  5.220799    ...     2.746365  4.134144  2.527561
928  3.533282  3.521643  3.310062    ...     1.673783  2.969233  1.764402
929  2.841733  3.040653  2.521573    ...     2.000414  2.673207  1.514726
930  4.027367  3.851385  3.625680    ...     2.271856  3.080500  2.192107
931  4.190207  4.295355  4.064483    ...     2.371473  3.515209  2.128192
932  3.029553  3.256730  3.035845    ...     1.811545  2.794445  1.762795
933  4.112677  3.647874  3.395803    ...     2.257817  2.995643  2.283587
934  3.296002  2.608540  2.661601    ...     2.504066  2.734458  1.977565
935  4.007092  4.058392  4.242940    ...     2.497365  3.642131  2.128896
936  4.191467  3.907400  3.599507    ...     1.936414  3.107669  1.598322
937  3.472167  3.375967  3.067736    ...     2.109452  2.866163  2.075530
938  4.716527  4.733556  4.238593    ...     2.924873  3.788505  2.630957
939  3.914312  3.508077  3.648362    ...     2.090904  2.962374  1.931295
940  4.120969  3.725097  3.738926    ...     2.046886  3.175271  1.948413
941  4.552471  3.903365  3.978684    ...     2.481176  3.481316  2.324607
942  3.333010  3.464894  3.485764    ...     1.794474  2.603342  2.346516

         1675      1676      1677  1678      1679      1680      1681
0    1.447020  2.522443  0.570945   0.0  1.141890  2.346755  2.990677
1    1.420682  2.625535  0.464181   0.0  0.928362  2.316217  2.823809
2    1.640520  2.114228  0.421300   0.0  0.842599  1.768711  2.214899
3    1.666056  3.027284  0.543278   0.0  1.086556  2.608421  3.146120
4    1.491289  2.362901  0.416072   0.0  0.832143  2.038232  2.463483
5    1.286755  2.633532  0.342743   0.0  0.685486  2.335906  2.554453
6    1.719767  2.841182  0.509452   0.0  1.018905  2.652750  2.748608
7    1.557303  2.550015  0.643686   0.0  1.287372  2.559479  2.804031
8    1.655793  2.884043  0.450980   0.0  0.901960  2.420028  2.960990
9    1.623965  2.774582  0.535698   0.0  1.071396  2.415916  2.759945
10   1.338170  2.201978  0.387130   0.0  0.774259  1.874043  2.356123
11   1.451781  2.237951  0.481859   0.0  0.963717  2.667549  2.710370
12   1.363551  1.903430  0.333992   0.0  0.667985  2.284237  2.473913
13   1.598628  2.519106  0.399566   0.0  0.799132  2.139445  2.632946
14   0.951459  1.693038  0.267104   0.0  0.534209  2.054783  1.984363
15   1.739996  2.984558  0.548172   0.0  1.096344  3.020876  2.703191
16   1.001388  2.225780  0.430066   0.0  0.860133  2.098162  2.339457
17   1.310117  2.497090  0.452126   0.0  0.904253  2.186922  2.787830
18   1.260286  2.460761  0.270627   0.0  0.541254  2.538125  2.239611
19   0.854836  1.340352  0.247070   0.0  0.494140  1.960213  1.572467
20   1.295203  2.643607  0.538508   0.0  1.077017  2.182213  2.611418
21   1.724084  2.743666  0.505920   0.0  1.011840  2.653909  2.601870
22   1.317377  2.635750  0.361232   0.0  0.722465  2.312078  2.595656
23   1.702245  2.609423  0.656036   0.0  1.312072  2.427841  3.012889
24   1.444728  2.284703  0.480469   0.0  0.960939  2.428590  2.493529
25   1.265054  2.188583  0.444888   0.0  0.889775  1.976035  2.196678
26   1.258268  2.285188  0.407601   0.0  0.815201  2.281241  2.416249
27   1.625757  2.590034  0.542604   0.0  1.085208  2.223027  2.441040
28   1.430909  2.595281  0.483084   0.0  0.966168  2.110312  2.910610
29   1.447497  2.715816  0.543580   0.0  1.087160  2.425866  2.753831
..        ...       ...       ...   ...       ...       ...       ...
913  0.919278  1.778128 -0.007265   0.0 -0.014530  1.657660  1.628068
914  1.160344  1.853996  0.463511   0.0  0.927021  1.696178  2.531486
915  1.342983  2.570212  0.488498   0.0  0.976995  2.158291  2.901142
916  1.129522  2.558334  0.218365   0.0  0.436730  1.848179  2.479184
917  1.014102  2.339645  0.318878   0.0  0.637755  1.761492  2.419426
918  1.322764  2.717153  0.507685   0.0  1.015370  2.105947  2.360976
919  1.042345  2.176141  0.351614   0.0  0.703228  2.061940  2.188002
920  1.101868  1.679281  0.250169   0.0  0.500338  2.043425  1.785494
921  1.233663  2.088321  0.312973   0.0  0.625946  2.343720  2.317510
922  1.755302  3.017475  0.626179   0.0  1.252358  2.358798  3.046387
923  1.361170  2.423188  0.405102   0.0  0.810204  2.338049  2.555682
924  1.257999  1.999746  0.428510   0.0  0.857020  1.931846  1.787100
925  1.420954  2.175726  0.414422   0.0  0.828845  2.218585  2.205362
926  1.413159  1.995577  0.544050   0.0  1.088100  2.031451  2.125691
927  1.685041  3.104728  0.276333   0.0  0.552667  2.171262  2.835227
928  1.176268  2.230263  0.436105   0.0  0.872210  2.445133  2.499730
929  1.009817  1.323579  0.294618   0.0  0.589236  1.219427  1.696534
930  1.461405  2.117595  0.491152   0.0  0.982304  2.064607  2.515726
931  1.418795  2.733425  0.451867   0.0  0.903735  2.434063  2.765656
932  1.175197  2.183220  0.426412   0.0  0.852824  1.949150  2.146540
933  1.522391  2.194701  0.403365   0.0  0.806730  2.021770  2.491467
934  1.318377  1.648551  0.511711   0.0  1.023423  1.840907  1.939828
935  1.419264  2.956200  0.526530   0.0  1.053061  1.963835  2.856117
936  1.065548  2.474469  0.093406   0.0  0.186812  2.683169  1.951772
937  1.383686  2.423864  0.449532   0.0  0.899065  2.312619  2.324831
938  1.753971  2.774726  0.689017   0.0  1.378035  2.480613  2.823900
939  1.287530  2.258874  0.408346   0.0  0.816692  2.367420  2.252147
940  1.298942  2.396624  0.420120   0.0  0.840240  2.420778  2.606520
941  1.549738  2.558093  0.391903   0.0  0.783805  2.614239  2.466418
942  1.564344  2.546353  0.589668   0.0  1.179336  2.212259  2.364517

[943 rows x 1682 columns]

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms=0
for i in range(0,910):
    ratings1 = pd.DataFrame(data1=R.loc[i,R.loc[i,:] > 0]).head(n=1600)
    ratings1['Prediction'] = predicted.loc[i,R.loc[i,:] > 0]
    ratings1.columns = ['Actual Rating', 'Predicted']
    rms = rms+sqrt(mean_squared_error(ratings1['Actual'],ratings1['Predicted']))
print rms/910

In [32]:
import pickle
pickle.dump(P , open( "C:\\Users\\young desi\\Documents\\recommender\\person_svd.p", "wb" ) )
pickle.dump(Q , open( "C:\\Users\\young desi\\Documents\\recommender\\item_svd.p", "wb" ) )
pickle.dump(R , open( "C:\\Users\\young desi\\Documents\\recommender\\ratings.p", "wb" ) )

In [6]:
i_cols = ['movie_id', 'movie_title' ,'release_date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movie_base = pd.read_csv('C:\data\ml-100k\u.item', sep='|', names=i_cols,
 encoding='latin-1')

In [8]:
movie_base.head()

,movie_id,movie_title,release_date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
from sklearn.cluster import KMeans

In [7]:
X=np.array(df[['user_id', 'item_id', 'rating']])

In [8]:
X

array([[ 196,  242,    3],
       [ 186,  302,    3],
       [  22,  377,    1],
       ...,
       [ 276, 1090,    1],
       [  13,  225,    2],
       [  12,  203,    3]], dtype=int64)

In [9]:
kmeans = KMeans(n_clusters=20)
kmeans.fit(X)

centroids = kmeans.cluster_centers_
labels = kmeans.labels_

In [11]:
centroids

array([[  181.35445791,  1020.41130786,     3.11556384],
       [  381.90757535,    82.70885569,     3.71845826],
       [  770.13554084,   719.05231788,     3.31611479],
       [   96.2810837 ,   482.79075955,     3.5892598 ],
       [  518.80244664,   267.74869859,     3.57431026],
       [  395.72131747,   715.3021043 ,     3.39762123],
       [  789.42475987,   995.15297047,     3.16542156],
       [  118.37508821,    79.2154199 ,     3.75299929],
       [  745.15433572,  1353.97295147,     2.93317422],
       [  853.96441465,   103.60632628,     3.75691937],
       [  797.52729045,   271.85783904,     3.55332776],
       [  483.34062885,   983.24352651,     3.18249075],
       [  338.95547782,   477.07870886,     3.55430116],
       [  841.10575793,   481.87990599,     3.54007051],
       [  124.24027211,   731.19265306,     3.33823129],
       [  297.12504732,   237.49463722,     3.67810726],
       [   90.88382015,   257.70495569,     3.63554316],
       [  586.5768057 ,   504.28931841,     3.55340793],
       [  338.16470588,  1326.38431373,     2.7697479 ],
       [  627.64169083,   106.62520983,     3.69769571]])

In [12]:
labels = kmeans.predict(X)

C:\Users\young desi\Anaconda2\lib\site-packages\sklearn\utils\validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64.
  warnings.warn(msg, DataConversionWarning)

In [38]:
labels[1300:1490]

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6])

In [13]:
user_movies2=np.array(df.loc[df['user_id']==196 ])

In [209]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def find_user_movies(user_id):
    user_movies2=np.array(df.loc[df['user_id']==user_id ])
    #print user_movies2
    mov=np.array(df.loc[df['user_id']==195 ])
    r1=[]
    r2=[]
    
    for movies in user_movies2:
       # print movies
        for m,K,L,N in mov:
           # print m,K,L,N
            if movies[1]==K:
                 r1.append(movies[2])
                 r2.append(L)
    r2=np.array(r2)
    r1=np.array(r1)
    #print r2,r1
    rms = sqrt(mean_squared_error(r1,r2))
    return rms

In [211]:
j=[]
j=np.where(labels==labels[195])
#np.size(j[0])
rms1=0
count=0
for i in j[0]:
    
    rms1=rms1+find_user_movies(i)
    count=count+1
rms1=rms1/count
print count

1.51338117493

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [71]:
df1=df.loc[df['user_id'] == j[0][2]]
df2=df1.loc[df['rating'] == 1]
df2

       user_id  item_id  rating  timestamp
3271         6      477       1  883599509
5145         6      476       1  883600175
9602         6      458       1  883599914
25228        6      465       1  883683508
31510        6      259       1  883268375
38333        6      405       1  883600066
43410        6      472       1  883600003

In [72]:
df3=df.loc[df['user_id'] == 195]
df4=df3.loc[df3['item_id'].isin (df2['item_id'])]
df4

      user_id  item_id  rating  timestamp
5293      195      477       2  885110922

NameError: name 'y_actual' is not defined

{0: 1044,
 1: 4568,
 2: 60,
 3: 2333,
 4: 390,
 5: 3853,
 6: 1316,
 7: 184,
 8: 618,
 9: 1077,
 10: 2326,
 11: 4653,
 12: 2017,
 13: 125,
 14: 2581}